<div class="product">
    <img src="{{ url_for('static', path='img/img1.jpg') }}" alt="Scin care">
    <div class="product-info">
        <h3>Scin care</h3>
        <p class="price">$29.99</p>
        <span class="discount">20% off</span>
        <button class="order-button" onclick="showDelivery()">Order Now</button>
    </div>
</div>
<div class="product">
    <img src="{{ url_for('static', path='img/img2.jpg') }}" alt="Cology">
    <div class="product-info">
        <h3>Cology</h3>
        <p class="price">$24.99</p>
        <span class="discount">15% off</span>
        <button class="order-button" onclick="showDelivery()">Order Now</button>
    </div>
</div>
<div class="product">
    <img src="{{ url_for('static', path='img/img3.jpg') }}" alt="Chanel">
    <div class="product-info">
        <h3>Chanel</h3>
        <p class="price">$19.99</p>
        <span class="discount">10% off</span>
        <button class="order-button" onclick="showDelivery()">Order Now</button>
    </div>
</div>
<div class="product">
    <img src="{{ url_for('static', path='img/img4.jpg') }}" alt="Mitzie">
    <div class="product-info">
        <h3>Mitzie</h3>
        <p class="price">$34.99</p>
        <span class="discount">25% off</span>
        <button class="order-button" onclick="showDelivery()">Order Now</button>
    </div>
</div>